<!-- ************************************************************************************** -->
<!--   1.0 -     Introduce packages, resources and links to be used in this project         -->
<!-- ************************************************************************************** -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Remarketing Corp Dataviz</title>
    <link rel="icon" type="image/png" sizes="16x16" href="../static/images/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/images/favicon-32x32.png">
    <link rel="stylesheet" href="../static/reset.css">
    <link rel="stylesheet" href="../static/Arval_MotorTrade.css">
    <link rel="stylesheet" href="../static/MEF_Remarketing_dataviz.css">
    <!-- <link rel="stylesheet" href="../static/Arval_cards_style.css"> -->
    <link rel="stylesheet" href="../static/MEF_NBV_page.css">
    <link rel="stylesheet" href="../static/MEF_weekly_covid_KPIS.css">
<!--    <link rel="stylesheet" type="text/css" href="../static/font-awesome.min.css"> -->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script type="text/javascript" src="../static/js_min/echarts.min.js"></script>
    <script type="text/javascript" src="../static/js_min/jquery.min.js"></script>

    <style>
        html, body{
        padding:0px;
        margin:0px;
        background: #d0d2d8;
        font-family: 'Karla', sans-serif ;
        width:100vw ;
        }
        body * {
        margin:0;
        padding:0;
        }
        .flags{
        width:35px;
        vertical-align:-80%;
        padding-right: 8px;
        vertical-align:middle
        }
        nav > menu > menuitem > menu > menuitem > menu > menuitem a{
        text-align: middle;
        padding-top:13px;
        padding-left:10px;
        }
        nav menuitem {
        position:relative;
        display:block;
        opacity:0;
        cursor:pointer;
        z-index: 9999;
        }
        nav menuitem > menu {
        position: absolute;
        pointer-events:none;
        }
        nav > menu { display:flex; }
        nav > menu > menuitem { pointer-events: all; opacity:1; }
        menu menuitem a { white-space:nowrap; display:block; }
        menuitem:hover > menu {
        pointer-events:initial;
        }
        menuitem:hover > menu > menuitem,
        menu:hover > menuitem{
        opacity:1;
        }
        nav > menu > menuitem menuitem menu {
        transform:translateX(100%);
        top:0; right:0;
        }
        /* User Styles Below Not Required */
        /* User Styles Below Not Required */
        /* User Styles Below Not Required */
        #scroll_part {
        margin-top: 115px;
        margin-left: 20px;
        }
        nav a {
        background:rgb(18, 130, 73);
        color:#FFF;
        box-sizing:border-box;
        margin:0px 5px 5px 0px;
        border-radius:3px;
        min-width:160px;
        min-height:45px;
        font-size: 12px;
        padding-top:15px ;
        padding-left: 25px;
        transition: background 0.5s, color 0.5s, transform 0.5s;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
        position:relative;
        }
        nav a:hover:before {
        content: '';
        top:0;left:0;
        position:absolute;
        background:rgba(0, 0, 0, 0.2);
        width:100%;
        height:100%;
        }
        nav > menu > menuitem > a + menu:after{
        content: '';
        position:absolute;
        border:7px solid transparent;
        border-top: 10px solid white;
        left:5px;
        top: -35px;
        }
        #demo1{
        z-index: 999;
        }
        nav menuitem > menu > menuitem > a + menu:after{
        content: '';
        position:absolute;
        border:7px solid transparent;
        border-left: 7px solid white;
        top: 15px;
        left:-155px;
        transition: opacity 0.6, transform 0s;
        }
        nav > menu > menuitem > menu > menuitem{
        transition: transform 0.6s, opacity 0.6s;
        transform:translateY(150%);
        opacity:0;
        }
        nav > menu > menuitem:hover > menu > menuitem,
        nav > menu > menuitem.hover > menu > menuitem{
        transform:translateY(0%);
        opacity: 1;
        }
        menuitem > menu > menuitem > menu > menuitem{
        transition: transform 0.6s, opacity 0.6s;
        transform:translateX(200px) translateY(0%);
        opacity: 0;
        }
        menuitem > menu > menuitem:hover > menu > menuitem,
        menuitem > menu > menuitem.hover > menu > menuitem{
        transform:translateX(0) translateY(0%);
        opacity: 1;
        }
    </style>

<!-- ************************************************************************************** -->
<!--   2.0 -    Insert a empty block to locate AJAX Jquery position for Other HTML          -->
<!-- ************************************************************************************** -->
{% block script %}
{% endblock %}
</head>
<body>
<!-- ************************************************************************************** -->
<!--   3.0 -    Header GREEN Line where we have "Report Monthly"                            -->
<!-- ************************************************************************************** -->
    <div class='topbar-wrapper no-print'>
    <div class='topbar w'>
    </div>
    </div>
<!-- ************************************************************************************** -->
<!--   4.0 -    Header with logo and Navigation where with "Entities" and "Periods"         -->
<!-- ************************************************************************************** -->
    <div class="header-wrapper no-print">
        <div class="header w clearfix">

<!--   4.1 -   Arval logo position and style    ******************************************* -->
            <a class='logoLine' href='https://www.arval.com'>
                <img class="logo" src="../static/images/imageonline-co-whitebackgroundremoved.svg" alt="" style="width:200px; margin-left: 18px; margin-right: 30px">
            </a>
            <a class='logoLine' href='https://remktg.arval.com/desktop2/#/login?locale=en_UK' >
                <img class="logo" src="../static/images/logo-motortrade.png" style="margin-top:10px;">
            </a>
<!--        <button class="full-view"><a class="download" id="download" style="text-decoration: none;">DOWNLOAD PDF</a></button>-->

<!--   4.2 -    Entities / Period  dropdown Info box                                        -->
            <nav id="scroll_part">
                <menu>
                    <menuitem id="demo0">
                    	<a class='font-bnpp-sans-cond' href={{url_for('show_index')}} >
                            <i class="fa fa-bar-chart" style="font-size:20px; padding-right:7px; vertical-align:middle; color: yellow;"></i>
                            OVERVIEWS
                        </a>
                    </menuitem>
                </menu>
                <menu>
                    <menuitem id="demo4" class="menu_position" >
                        <a class='font-bnpp-sans-cond' ><i class="fa fa-th-list" style="font-size:20px; padding-right:7px; vertical-align:middle; color: yellow;"></i>WEEKLY</a>
                        <menu>
                            <menuitem>
                                <a href={{url_for('show_WEEKLY_COVID')}} >
                                    <i class="fa fa-table" style="font-size:20px; padding-right:7px; vertical-align:middle;"></i>
                                    Crisis Follow-up
                                </a>
                            </menuitem>
                            <menuitem >
                                <a class='font-bnpp-sans-cond' href={{url_for('show_WEEKLY_overview')}} >
                                    <i class="fa fa-tachometer" style="font-size:20px; padding-right:7px; vertical-align:middle;"></i>
                                   MT sales report
                                </a>
                            </menuitem>
                        </menu>
                    </menuitem>
                </menu>
                <menu>
                    <menuitem id="demo1">
                        <a class='font-bnpp-sans-cond' >
                            <i class="fa fa-flag fa" style="font-size:20px; padding-right:7px; vertical-align:middle; color: yellow;"></i>
                            ENTITIES
                        </a>
                        <menu>
                            <menuitem>
                                <a class='font-bnpp-sans-cond' >
                                    G4
                                </a>
                                <menu>
                                    <menuitem>
                                        <a class='font-bnpp-sans-cond' style="padding-top:13px; padding-left:10px;" href={{url_for('show_one_country',country_id="France")}}>
                                           <img class="flags" src="../static/flags/4x3/fr.svg">France
                                        </a>
                                    </menuitem>
                                    <menuitem>
                                        <a class='font-bnpp-sans-cond' style="padding-top:13px; padding-left:10px;" href={{url_for('show_one_country',country_id="Italy")}}>
                                            <img class="flags" src="../static/flags/4x3/it.svg">Italy
                                        </a>
                                    </menuitem>
                                    <menuitem>
                                        <a class='font-bnpp-sans-cond' style="padding-top:13px; padding-left:10px;" href={{url_for('show_one_country',country_id="Spain")}}>
                                            <img class="flags" src="../static/flags/4x3/es.svg">Spain
                                        </a>
                                    </menuitem>
                                    <menuitem>
                                        <a class='font-bnpp-sans-cond' style="padding-top:13px; padding-left:10px;" href={{url_for('show_one_country',country_id="UK")}}>
                                            <img class="flags" src="../static/flags/4x3/gb.svg">United Kingdom
                                        </a>
                                    </menuitem>
                                    <menuitem>
                                        <a class='font-bnpp-sans-cond' style="padding-top:13px; padding-left:10px;" href={{url_for('show_one_country',country_id="G4")}}>
                                            ALL G4
                                        </a>
                                    </menuitem>
                                </menu>
                            </menuitem>
                            <menuitem>
                               <a class='font-bnpp-sans-cond' >
                                   G7
                               </a>
                               <menu>
                                    <menuitem>
                                        <a class='font-bnpp-sans-cond' style="padding-top:13px; padding-left:10px;" href={{url_for('show_one_country',country_id="France")}}>
                                           <img class="flags" src="../static/flags/4x3/fr.svg">France
                                        </a>
                                    </menuitem>
                                    <menuitem>
                                        <a class='font-bnpp-sans-cond' style="padding-top:13px; padding-left:10px;" href={{url_for('show_one_country',country_id="Italy")}}>
                                            <img class="flags" src="../static/flags/4x3/it.svg">Italy
                                        </a>
                                    </menuitem>
                                    <menuitem>
                                        <a class='font-bnpp-sans-cond' style="padding-top:13px; padding-left:10px;" href={{url_for('show_one_country',country_id="Spain")}}>
                                            <img class="flags" src="../static/flags/4x3/es.svg">Spain
                                        </a>
                                    </menuitem>
                                    <menuitem>
                                        <a class='font-bnpp-sans-cond' style="padding-top:13px; padding-left:10px;" href={{url_for('show_one_country',country_id="UK")}}>
                                            <img class="flags" src="../static/flags/4x3/gb.svg">United Kingdom
                                        </a>
                                    </menuitem>
                                    <menuitem>
                                        <a class='font-bnpp-sans-cond' style="padding-top:13px; padding-left:10px;" href={{url_for('show_one_country',country_id="Germany")}}>
                                            <img class="flags" src="../static/flags/4x3/de.svg">Germany
                                        </a>
                                    </menuitem>
                                    <menuitem>
                                        <a class='font-bnpp-sans-cond' style="padding-top:13px; padding-left:10px;" href={{url_for('show_one_country',country_id="Netherlands")}}>
                                            <img class="flags" src="../static/flags/4x3/nl.svg">Netherlands
                                        </a>
                                    </menuitem>
                                    <menuitem>
                                        <a class='font-bnpp-sans-cond' style="padding-top:13px; padding-left:10px;" href={{url_for('show_one_country',country_id="Belgium")}}>
                                            <img class="flags" src="../static/flags/4x3/be.svg">Belgium
                                        </a>
                                    </menuitem>
                                    <menuitem>
                                        <a class='font-bnpp-sans-cond' style="padding-top:13px; padding-left:10px;" href={{url_for('show_one_country',country_id="G7")}}>
                                            ALL G7
                                        </a>
                                    </menuitem>
                               </menu>
                            </menuitem>
                            <menuitem>
                               <a class='font-bnpp-sans-cond' >
                                   G9
                               </a>
                                <menu>
                                    <menuitem>
                                        <a class='font-bnpp-sans-cond' style="padding-top:13px; padding-left:10px;" href={{url_for('show_one_country',country_id="France")}}>
                                           <img class="flags" src="../static/flags/4x3/fr.svg">France
                                        </a>
                                    </menuitem>
                                    <menuitem>
                                        <a class='font-bnpp-sans-cond' style="padding-top:13px; padding-left:10px;" href={{url_for('show_one_country',country_id="Italy")}}>
                                            <img class="flags" src="../static/flags/4x3/it.svg">Italy
                                        </a>
                                    </menuitem>
                                    <menuitem>
                                        <a class='font-bnpp-sans-cond' style="padding-top:13px; padding-left:10px;" href={{url_for('show_one_country',country_id="Spain")}}>
                                            <img class="flags" src="../static/flags/4x3/es.svg">Spain
                                        </a>
                                    </menuitem>
                                    <menuitem>
                                        <a class='font-bnpp-sans-cond' style="padding-top:13px; padding-left:10px;" href={{url_for('show_one_country',country_id="UK")}}>
                                            <img class="flags" src="../static/flags/4x3/gb.svg">United Kingdom
                                        </a>
                                    </menuitem>
                                    <menuitem>
                                        <a class='font-bnpp-sans-cond' style="padding-top:13px; padding-left:10px;" href={{url_for('show_one_country',country_id="Germany")}}>
                                            <img class="flags" src="../static/flags/4x3/de.svg">Germany
                                        </a>
                                    </menuitem>
                                    <menuitem>
                                        <a class='font-bnpp-sans-cond' style="padding-top:13px; padding-left:10px;" href={{url_for('show_one_country',country_id="Netherlands")}}>
                                            <img class="flags" src="../static/flags/4x3/nl.svg">Netherlands
                                        </a>
                                    </menuitem>
                                    <menuitem>
                                        <a class='font-bnpp-sans-cond' style="padding-top:13px; padding-left:10px;" href={{url_for('show_one_country',country_id="Belgium")}}>
                                            <img class="flags" src="../static/flags/4x3/be.svg">Belgium
                                        </a>
                                    </menuitem>
                                    <menuitem>
                                        <a class='font-bnpp-sans-cond' style="padding-top:13px; padding-left:10px;" href={{url_for('show_one_country',country_id="CzechRepublic")}}>
                                            <img class="flags" src="../static/flags/4x3/cz.svg">Czech Republic
                                        </a>
                                    </menuitem>
                                    <menuitem>
                                        <a class='font-bnpp-sans-cond' style="padding-top:13px; padding-left:10px;" href={{url_for('show_one_country',country_id="Poland")}}>
                                            <img class="flags" src="../static/flags/4x3/pl.svg">Poland
                                        </a>
                                    </menuitem>
                                    <menuitem>
                                        <a class='font-bnpp-sans-cond' style="padding-top:13px; padding-left:10px;" href={{url_for('show_one_country',country_id="G9")}}>
                                            ALL G9
                                        </a>
                                    </menuitem>
                                </menu>
                            </menuitem>
                            <menuitem>
                                <a class='font-bnpp-sans-cond' style="padding-top:13px; padding-left:10px;" href={{url_for('show_one_country',country_id="Trading")}}>
                                    <i class="fa fa-globe fa" style="font-size:20px; padding-right:7px; color: white; vertical-align:middle;"></i> Arval Trading </a>
                            </menuitem>
                            <menuitem>
                               <a class='font-bnpp-sans-cond' >
                                   OTHER ENTITIES
                               </a>
                                <menu>
                                    <menuitem>
                                        <a class='font-bnpp-sans-cond' style="padding-top:13px; padding-left:10px;" href={{url_for('show_one_country',country_id="Russia")}}>
                                            <img class="flags" src="../static/flags/4x3/ru.svg">Russia
                                        </a>
                                    </menuitem>
                                    <menuitem>
                                        <a class='font-bnpp-sans-cond' style="padding-top:13px; padding-left:10px;" href={{url_for('show_one_country',country_id="Slovakia")}}>
                                            <img class="flags" src="../static/flags/4x3/sk.svg">Slovakia
                                        </a>
                                    </menuitem>
                                    <menuitem>
                                        <a class='font-bnpp-sans-cond' style="padding-top:13px; padding-left:10px;" href={{url_for('show_one_country',country_id="Romania")}}>
                                            <img class="flags" src="../static/flags/4x3/ro.svg">Romania
                                        </a>
                                    </menuitem>
                                    <menuitem>
                                        <a class='font-bnpp-sans-cond' style="padding-top:13px; padding-left:10px;" href={{url_for('show_one_country',country_id="Switzerland")}}>
                                            <img class="flags" src="../static/flags/4x3/ch.svg">Switzerland
                                        </a>
                                    </menuitem>
                                    <menuitem>
                                        <a class='font-bnpp-sans-cond' style="padding-top:13px; padding-left:10px;" href={{url_for('show_one_country',country_id="Hungary")}}>
                                            <img class="flags" src="../static/flags/4x3/hu.svg">Hungary
                                        </a>
                                    </menuitem>
                                    <menuitem>
                                        <a class='font-bnpp-sans-cond' style="padding-top:13px; padding-left:10px;" href={{url_for('show_one_country',country_id="Portugal")}}>
                                            <img class="flags" src="../static/flags/4x3/pt.svg">Portugal
                                        </a>
                                    </menuitem>
                                    <menuitem>
                                        <a class='font-bnpp-sans-cond' style="padding-top:13px; padding-left:10px;" href={{url_for('show_one_country',country_id="Greece")}}>
                                            <img class="flags" src="../static/flags/4x3/gr.svg">Greece
                                        </a>
                                    </menuitem>
                                    <menuitem>
                                        <a class='font-bnpp-sans-cond' style="padding-top:13px; padding-left:10px;" href={{url_for('show_one_country',country_id="Morocco")}}>
                                            <img class="flags" src="../static/flags/4x3/mo.svg">Morocco
                                        </a>
                                    </menuitem>
                                    <menuitem>
                                        <a class='font-bnpp-sans-cond' style="padding-top:13px; padding-left:10px;" href={{url_for('show_one_country',country_id="Turkey")}}>
                                            <img class="flags" src="../static/flags/4x3/tr.svg">Turkey
                                        </a>
                                    </menuitem>
                                    <menuitem>
                                        <a class='font-bnpp-sans-cond' style="padding-top:13px; padding-left:10px;" href={{url_for('show_one_country',country_id="India")}}>
                                            <img class="flags" src="../static/flags/4x3/in.svg">India
                                        </a>
                                    </menuitem>
                                </menu>
                            </menuitem>
                            <menuitem>
                                <a class='font-bnpp-sans-cond' >
                                    LATAM
                                </a>
                                <menu>
                                    <menuitem>
                                        <a class='font-bnpp-sans-cond' style="padding-top:13px; padding-left:10px;" href={{url_for('show_one_country',country_id="Brazil")}}>
                                           <img class="flags" src="../static/flags/4x3/br.svg">Brazil
                                        </a>
                                    </menuitem>
                                    <menuitem>
                                        <a class='font-bnpp-sans-cond' style="padding-top:13px; padding-left:10px;" href={{url_for('show_one_country',country_id="Chile")}}>
                                            <img class="flags" src="../static/flags/4x3/cl.svg">Chile
                                        </a>
                                    </menuitem>
                                    <menuitem>
                                        <a class='font-bnpp-sans-cond' style="padding-top:13px; padding-left:10px;" href={{url_for('show_one_country',country_id="Peru")}}>
                                            <img class="flags" src="../static/flags/4x3/pe.svg">Peru
                                        </a>
                                    </menuitem>
                                    <menuitem>
                                        <a class='font-bnpp-sans-cond' style="padding-top:13px; padding-left:10px;" href={{url_for('show_one_country',country_id="LATAM")}}>
                                            ALL LATAM
                                        </a>
                                    </menuitem>
                                </menu>
                            </menuitem>
                            <menuitem>
                                <a class='font-bnpp-sans-cond' >
                                    NORDICS
                                </a>
                                <menu>
                                    <menuitem>
                                        <a class='font-bnpp-sans-cond' style="padding-top:13px; padding-left:10px;" href={{url_for('show_one_country',country_id="Denmark")}}>
                                           <img class="flags" src="../static/flags/4x3/dk.svg">Denmark
                                        </a>
                                    </menuitem>
                                    <menuitem>
                                        <a class='font-bnpp-sans-cond' style="padding-top:13px; padding-left:10px;" href={{url_for('show_one_country',country_id="Finland")}}>
                                            <img class="flags" src="../static/flags/4x3/fi.svg">Finland
                                        </a>
                                    </menuitem>
                                    <menuitem>
                                        <a class='font-bnpp-sans-cond' style="padding-top:13px; padding-left:10px;" href={{url_for('show_one_country',country_id="Sweden")}}>
                                            <img class="flags" src="../static/flags/4x3/se.svg">Sweden
                                        </a>
                                    </menuitem>
                                    <menuitem>
                                        <a class='font-bnpp-sans-cond' style="padding-top:13px; padding-left:10px;" href={{url_for('show_one_country',country_id="LATAM")}}>
                                            ALL NORDICS
                                        </a>
                                    </menuitem>
                                </menu>
                            </menuitem>
                            <menuitem>
                                <a class='font-bnpp-sans-cond' style="padding-top:13px; padding-left:10px;" href={{url_for('show_one_country',country_id="ALL")}}>
                                    <i class="fa fa-globe fa" style="font-size:20px; padding-right:7px; color: white;vertical-align:middle;"></i> ALL Arval </a>
                            </menuitem>
                         </menu>
                    </menuitem>
                </menu>
                <menu>
                    <menuitem id="demo2" class="menu_position">
                        <a class='font-bnpp-sans-cond' ><i class="fa fa-calendar fa" style="font-size:20px; padding-right:7px; vertical-align:middle; color: yellow;"></i> PERIODS</a>
                        <menu>
                            <menuitem>
                                <a class='font-bnpp-sans-cond' >
                                    2021
                                </a>
                                <menu>
                                    <menuitem><a class='font-bnpp-sans-cond' style="padding-top:13px; padding-left:10px;" href={{url_for('show_one_period',period_id="2021")}}>All year 2021</a></menuitem>
                                    <menuitem><a class='font-bnpp-sans-cond' style="padding-top:13px; padding-left:10px;" href={{url_for('show_one_period',period_id="Mthly avg 2021")}}>Monthly Average 2021</a></menuitem>
                                    <menuitem><a class='font-bnpp-sans-cond' style="padding-top:13px; padding-left:10px;" href={{url_for('show_one_period',period_id="Jan. 2021")}}>January 2021</a></menuitem>
                                    <menuitem><a class='font-bnpp-sans-cond' style="padding-top:13px; padding-left:10px;" href={{url_for('show_one_period',period_id="Feb. 2021")}}>February 2021</a></menuitem>
                                    <menuitem><a class='font-bnpp-sans-cond' style="padding-top:13px; padding-left:10px;" href={{url_for('show_one_period',period_id="Mar. 2021")}}>March 2021</a></menuitem>
                                    <menuitem><a class='font-bnpp-sans-cond' style="padding-top:13px; padding-left:10px;" href={{url_for('show_one_period',period_id="Apr. 2021")}}>April 2021</a></menuitem>
                                    <menuitem><a class='font-bnpp-sans-cond' style="padding-top:13px; padding-left:10px;" href={{url_for('show_one_period',period_id="May. 2021")}}>May 2021</a></menuitem>
                                    <menuitem><a class='font-bnpp-sans-cond' style="padding-top:13px; padding-left:10px;" href={{url_for('show_one_period',period_id="Jun. 2021")}}>June 2021</a></menuitem>
                                    <menuitem><a class='font-bnpp-sans-cond' style="padding-top:13px; padding-left:10px;" href={{url_for('show_one_period',period_id="Jul. 2021")}}>July 2021</a></menuitem>
                                    <menuitem><a class='font-bnpp-sans-cond' style="padding-top:13px; padding-left:10px;" href={{url_for('show_one_period',period_id="Aug. 2021")}}>August 2021</a></menuitem>
                                    <menuitem><a class='font-bnpp-sans-cond' style="padding-top:13px; padding-left:10px;" href={{url_for('show_one_period',period_id="Sep. 2021")}}>September 2021</a></menuitem>
                                    <menuitem><a class='font-bnpp-sans-cond' style="padding-top:13px; padding-left:10px;" href={{url_for('show_one_period',period_id="Oct. 2021")}}>October 2021</a></menuitem>
                                    <menuitem><a class='font-bnpp-sans-cond' style="padding-top:13px; padding-left:10px;" href={{url_for('show_one_period',period_id="Nov. 2021")}}>November 2021</a></menuitem>
                                    <menuitem><a class='font-bnpp-sans-cond' style="padding-top:13px; padding-left:10px;" href={{url_for('show_one_period',period_id="Dec. 2021")}}>December 2021</a></menuitem>
                                </menu>
                            </menuitem>
                            <menuitem>
                                <a class='font-bnpp-sans-cond' >
                                    2020
                                </a>
                                <menu>
                                    <menuitem><a class='font-bnpp-sans-cond' style="padding-top:13px; padding-left:10px;" href={{url_for('show_one_period',period_id="2020")}}>All year 2020</a></menuitem>
                                    <menuitem><a class='font-bnpp-sans-cond' style="padding-top:13px; padding-left:10px;" href={{url_for('show_one_period',period_id="Mthly avg 2020")}}>Monthly Average 2020</a></menuitem>
                                    <menuitem><a class='font-bnpp-sans-cond' style="padding-top:13px; padding-left:10px;" href={{url_for('show_one_period',period_id="Jan. 2020")}}>January 2020</a></menuitem>
                                    <menuitem><a class='font-bnpp-sans-cond' style="padding-top:13px; padding-left:10px;" href={{url_for('show_one_period',period_id="Feb. 2020")}}>February 2020</a></menuitem>
                                    <menuitem><a class='font-bnpp-sans-cond' style="padding-top:13px; padding-left:10px;" href={{url_for('show_one_period',period_id="Mar. 2020")}}>March 2020</a></menuitem>
                                    <menuitem><a class='font-bnpp-sans-cond' style="padding-top:13px; padding-left:10px;" href={{url_for('show_one_period',period_id="Apr. 2020")}}>April 2020</a></menuitem>
                                    <menuitem><a class='font-bnpp-sans-cond' style="padding-top:13px; padding-left:10px;" href={{url_for('show_one_period',period_id="May. 2020")}}>May 2020</a></menuitem>
                                    <menuitem><a class='font-bnpp-sans-cond' style="padding-top:13px; padding-left:10px;" href={{url_for('show_one_period',period_id="Jun. 2020")}}>June 2020</a></menuitem>
                                    <menuitem><a class='font-bnpp-sans-cond' style="padding-top:13px; padding-left:10px;" href={{url_for('show_one_period',period_id="Jul. 2020")}}>July 2020</a></menuitem>
                                    <menuitem><a class='font-bnpp-sans-cond' style="padding-top:13px; padding-left:10px;" href={{url_for('show_one_period',period_id="Aug. 2020")}}>August 2020</a></menuitem>
                                    <menuitem><a class='font-bnpp-sans-cond' style="padding-top:13px; padding-left:10px;" href={{url_for('show_one_period',period_id="Sep. 2020")}}>September 2020</a></menuitem>
                                    <menuitem><a class='font-bnpp-sans-cond' style="padding-top:13px; padding-left:10px;" href={{url_for('show_one_period',period_id="Oct. 2020")}}>October 2020</a></menuitem>
                                    <menuitem><a class='font-bnpp-sans-cond' style="padding-top:13px; padding-left:10px;" href={{url_for('show_one_period',period_id="Nov. 2020")}}>November 2020</a></menuitem>
                                    <menuitem><a class='font-bnpp-sans-cond' style="padding-top:13px; padding-left:10px;" href={{url_for('show_one_period',period_id="Dec. 2020")}}>December 2020</a></menuitem>
                                </menu>
                            </menuitem>
                            <menuitem>
                                <a class='font-bnpp-sans-cond' >
                                    2019
                                </a>
                                <menu>
                                    <menuitem><a class='font-bnpp-sans-cond' style="padding-top:13px; padding-left:10px;" href={{url_for('show_one_period',period_id="2019")}}>All year 2019</a></menuitem>
                                    <menuitem><a class='font-bnpp-sans-cond' style="padding-top:13px; padding-left:10px;" href={{url_for('show_one_period',period_id="Mthly avg 2019")}}>Monthly Average 2019</a></menuitem>
                                </menu>
                            </menuitem>
                            <menuitem>
                                <a class='font-bnpp-sans-cond' >
                                    2018
                                </a>
                                <menu>
                                    <menuitem><a class='font-bnpp-sans-cond' style="padding-top:13px; padding-left:10px;" href={{url_for('show_one_period',period_id="2018")}}>All year 2018</a></menuitem>
                                    <menuitem><a class='font-bnpp-sans-cond' style="padding-top:13px; padding-left:10px;" href={{url_for('show_one_period',period_id="Mthly avg 2018")}}>Monthly Average 2018</a></menuitem>
                                </menu>
                            </menuitem>
                        </menu>
                    </menuitem>
                </menu>
                <menu>
                    <menuitem id="demo3">
                    	<a class='font-bnpp-sans-cond' href={{url_for('show_NBV')}} > <i class="fa fa-line-chart fa" style="font-size:20px; color: yellow;padding-right:7px;vertical-align:middle;"></i> NBV </a>
                    </menuitem>
                </menu>
            </nav>
            <script>
            // For the thumbnail demo! :]
            var count = 1
            setTimeout(demo, 500)
            setTimeout(demo, 700)
            setTimeout(demo, 900)
            setTimeout(reset, 2000)

            var mousein = false
            function demo() {
            if(mousein) return
            document.getElementById('demo' + count++)
                .classList.toggle('hover')
            }
            function demo2() {
            if(mousein) return
            document.getElementById('demo2')
                .classList.toggle('hover')
            }
            function reset() {
            count = 1
            var hovers = document.querySelectorAll('.hover')
            for(var i = 0; i < hovers.length; i++ ) {
                hovers[i].classList.remove('hover') }
            }
            $(document).ready(function(){
            $("#demo4").mouseover(function(){
                $("#demo1").css("margin-top", "100px");
              });
              $("#demo4").mouseout(function(){
                $("#demo1").css("margin-top", "0px");
              });
              $("#demo1").mouseover(function(){
                $("#demo2").css("margin-top", "400px");
              });
              $("#demo1").mouseout(function(){
                $("#demo2").css("margin-top", "0px");
              });
              $("#demo2").mouseover(function(){
                $("#demo3").css("margin-top", "200px");
              });
              $("#demo2").mouseout(function(){
                $("#demo3").css("margin-top", "0px");
              });
            });
            $(document).ready(function(){
                $('#demo1').trigger("mouseover");
                setTimeout(
                  function()
                  {
                    $('#demo1').trigger("mouseout");
                    mousein = true
                    reset()
                  }, 2000);
                $('#demo2').trigger("mouseover");
                setTimeout(
                  function()
                  {
                    $('#demo2').trigger("mouseout");
                    mousein = true
                    reset()
                  }, 2000);
                //$('#demo4').trigger("mouseover");
                //setTimeout(
                //  function()
                //  {
                //    $('#demo4').trigger("mouseout");
                //    mousein = true
                //    reset()
                //  }, 2000);
            });
            var elementPosition = $('#scroll_part').offset();
            $(window).scroll(function () {
                if ($(window).scrollTop() > elementPosition.top) {
                    $('#scroll_part').css('position', 'fixed').css('top', '0').css('z-index','900');
                } else {
                    $('#scroll_part').css('position', 'static').css('top', '0').css('z-index','900');
                }
             });
            </script>
        </div>
    </div>
<!-- ************************************************************************************** -->
<!--   4.2 -    "Periods"                                                                   -->
<!-- ************************************************************************************** -->
    <main id="main">
        {% block book %}
        {% endblock %}
        {% block chart_overview %}
        {% endblock %}
    <div id="editor"></div>
    </main>
<footer class="bg-dark text-white">
    <div class="back-to-top bottom-8" title="Back to top">
      <i class="fa fa-long-arrow-up fa-2x" data-fa-i2svg="">
              <path fill="currentColor" d="M3.515 168.97l7.07 7.071c4.686 4.686 12.284 4.686 16.971 0L111 92.113V468c0 6.627 5.373 12 12 12h10c6.627 0 12-5.373 12-12V92.113l83.444 83.928c4.686 4.686 12.284 4.686 16.971 0l7.07-7.071c4.686-4.686 4.686-12.284 0-16.97l-116-116.485c-4.686-4.686-12.284-4.686-16.971 0L3.515 152c-4.687 4.686-4.687 12.284 0 16.97z"></path>
      </i>
    </div>
    <script>
    (function() {
      "use strict";

      function scrollToTop(scrollDuration) {
        // https://stackoverflow.com/questions/21474678/scrolltop-animation-without-jquery
        var cosParameter = window.scrollY / 2,
            scrollCount = 0,
            oldTimestamp = performance.now();
        function step (newTimestamp) {
            scrollCount += Math.PI / (scrollDuration / (newTimestamp - oldTimestamp));
            if (scrollCount >= Math.PI) window.scrollTo(0, 0);
            if (window.scrollY === 0) return;
            window.scrollTo(0, Math.round(cosParameter + cosParameter * Math.cos(scrollCount)));
            oldTimestamp = newTimestamp;
            window.requestAnimationFrame(step);
        }
        window.requestAnimationFrame(step);
      }

      var backButton = document.querySelector('footer .back-to-top');

      if(backButton !== null) {
        document.addEventListener('scroll', function() {
          var h = document.documentElement,
              b = document.body,
              st = 'scrollTop';

          if(backButton !== null) {
            backButton.classList.toggle('invisible',(h[st]||b[st])<100);
          }
        });

        backButton.addEventListener('click', function(event) {
          scrollToTop(1000);
        });
      }
    })();


    // for geo dynamic button graphic zoom G9, zoom europe, zoom south A.
        const barOuter = document.querySelector(".bar-outer");
        const options = document.querySelectorAll(".bar-grey .option");
        let current = 1;
        options.forEach((option, i) => (option.index = i + 1));
        options.forEach(option =>
                        option.addEventListener("click", function() {
          barOuter.className = "bar-outer";
          barOuter.classList.add(`pos${option.index}`);
          if (option.index > current) {
            barOuter.classList.add("right");
          } else if (option.index < current) {
            barOuter.classList.add("left");
          }
          current = option.index;
        }));



    </script>
    <div style="width: 100%; height: 139px; background: black; margin-top: 20px">
        <div class="container px-3 px-lg-0">
          <div class="row">
            <div class="col-12 pt-3 pb-0 py-md-6 d-flex justify-content-between align-items-start align-items-md-center flex-column flex-md-row">
              <picture>
                  <source type="image/svg+xml" media="(min-width: 768px)" srcset="../static/images/logo-arval-dark.svg">
                  <source type="image/svg+xml" srcset="../static/images/logos/logo-arval-dark-mobile.svg">
                <img src="../static/images/logos/logo-arval-dark.png" class="" alt="Arval">
              </picture>
              <div class="my-4 my-md-0">
                <p class="mb-0 font-bnpp-sans" style="color: white;">For the many journeys in life</p>
              </div>
            </div>
          </div>
        </div>
    </div>

  </footer>
</body>
</html>