<!-- ************************************************************************************** -->
<!--   1.0 -     Introduce packages, resources and links to be used in this project         -->
<!-- ************************************************************************************** -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>FITNESS DATA DATAVIZ</title>
        <link rel="stylesheet" href="../static/reset.css">
        {% block script %}
        {% endblock %}
        <div style="width: 100%; height: 150px; background: green;">
           <h1 style="color: white; font-size:250%; text-align:center; line-height: 120px;"> STATISTICS OVERVIEW </h1>
           <p style="color: white; font-size:150%; text-align:right;"> UPDATE DATE : METTRE LA DATE</p>
        </div>
    </head>
    <body>
        <div style="width: 100%; background: orange;">
            <main id="main">
                {% block book %}
                {% endblock %}
                <div id="editor"></div>
            </main>
        </div>
    </body>
    <footer>
        <div style="width: 100%; height: 100px; background: black;">
        </div>
    </footer>
</html>