<!--   1.0 -         Extends the the unified part from base.html                            -->
{% extends "base.html" %}
{% block book %}

           <div class="" style="padding:30px; margin-top: 1.5rem;" >
                <div class="">
                    <div class="">
                        Main Activities KPIS
                    </div>
                </div>
                <div >
                    <div class="" data-table_id="">
                        <header>
                            <div class="">
                                    <div class="" style="background-color:white;"></div>
                                    <div class="" >2021 YTD</div>
                           </div>
                        </header>
                        <div class="st_table">
                            <div class="st_row">
                                <div class="">Cycle</div>
                                <div class=""  style="background-color:#d3d3d3;">{{DATA_ACTIVITES_AGG["N_activities_cycle"][0]}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


{% endblock %}
